@media (max-width: 680px) and (min-width: 319px) {
  #header
  {
    margin: 10px;
    margin-top: 10px;
    padding: 10px;
  }
  .flexing
  {
    display: flex;
    justify-content: center;
  }
  .mea-culpa-regular {
    font-family: "Mea Culpa", serif;
    font-weight: 400;
    font-style: normal;
  }  
  h1
  {
    color: #7C0A02;
    font-size: 35px;
  }
  #carouselid
  {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 2%;
  }
  #myCarousel
  {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .tangerine-regular {
    font-family: "Tangerine", serif;
    font-weight: 400;
    font-style: normal;
  }  
  .tangerine-bold {
    font-family: "Tangerine", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    color: #7C0A02;
  }
  .migrane
  {
    padding: 25px;
  }
  
}
body
{
    background-color: #FF9A8B;
background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

}
